@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal fade" id="serverModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle" class="modal-title">Server Select</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li id="modalTd">
                        @Html.DropDownList("ServerSelectList",
                                    ViewBag.serverList as SelectList, "Select Server",
                                    new { onchange = "$.fn.serverListChangeFunction()" })
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button id="cancelButton" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>
</div>