.modal-dialog {
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
}

.modal-header {
    background-color: #b2b2b2;
    font-size: 20px;
}

#modalTitle {
    text-align: center;
}

#windowClose {
    position: absolute;
    left: 162px;
    top: 1px;
    background-color: #575555;
}
/*.modal-content {
    
    
}*/
.modal-footer {
    text-align: center;
    background-color: #b2b2b2
}
/*#serverModal {
    width: 200px;
}*/
