/* Settings for the top navbar overlapping the body content */
body {
    padding-top: 70px;
}

/* Nav Bar */
.navbar {
    background-color: #407CCA;
}
    .navbar a { /* For Login Link at top right corner*/
        color: #111820;
    }
    #navbarMenu a:link {
        color: #111820;
    }
    #navbarMenu a:visited {
        color: #111820;
    }
    #navbarMenu a:hover {
        color: white;
    }
    /* Nav Bar Login Component */
    #loginComponent {
        padding-right: 25px;
        color: white;
        font-size: larger;
        text-align: center;
    }

/* Login Screen Label */
#loginLabel {
    text-align: center;
}
#loginLabel.label {
    color: red;
    background-color: green;
}