/* Settings for the top navbar overlapping the body content */
body {
    padding-top: 70px;
}

/*Needed to keep the section from off screen*/
#loginSection {
    padding-right: 25px;
    color: white;
}