/* Settings for the top navbar overlapping the body content */
body {
    padding-top: 70px;
}

/*Needed to keep the section from off screen*/
#loginComponent {
    padding-right: 25px;
    color: white;
    font-size: larger;
    text-align: center;
}
#loginLabel {
    text-align: center;
}